<div class="row">
  <div class="col-md-6">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading css-bookmark-container" style="background: white;">
          <% if policy(Like).create? && ((defined? no_likes).nil? || no_likes == false) %>
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          <% end %>
            <span class="css-favicon" style="margin-left:40px; margin-right:2px;">
              <%= link_to 'Favicon', bookmark.url, target: '_blank', class: 'btn btn-xs btn-info' %>
            </span>
            <span class="css-bookmark-title" style="text-decoration: underline;">
              <%= link_to bookmark.title, bookmark.url, target: '_blank', title: "Created by: #{bookmark.user.name}" %>
            <span>
          <% if policy(bookmark).destroy? && ((defined? no_delete).nil? || no_delete == false) %>
            <span class="pull-right css-bookmark-action" style="padding-top: 4px; padding-right: 4px;">
              <%= link_to 'Remove', [topic, bookmark], method: :delete, class: 'btn btn-xs btn-danger', data: {confirm: 'Are you sure you want to delete this bookmark?'} %>
            </span>
          <% end %>
          <% if policy(bookmark).edit? && ((defined? no_edit).nil? || no_edit == false) %>
            <span class="pull-right css-bookmark-action" style="padding-top: 4px; padding-right: 4px;">
              <%= link_to 'Edit', edit_topic_bookmark_path(topic, bookmark), class: 'btn btn-xs btn-success' %>
            </span>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>
