<!-- Begin: carousel for Topic -->
<% if rpt_bmk_helpers(props)[:first_item?] %>
  <div id="myCarousel" class="carousel slide carousel-topic-num-<%= props[:bookmarks_index] / props[:bookmarks_per_row] %>"
       data-ride="carousel" data-interval="false" data-wrap="true"
  >

    <!-- Begin: Item Indicators -->
    <ol class="carousel-indicators">
      <% props[:num_bookmarks].times do |index| %>
        <li data-target="#myCarousel" data-slide-to="<%= index.to_s %>"
            class="<%= index == 0 ? 'active' : '' %>">
        </li>
      <% end %>
    </ol>
    <!-- End: Item Indicators -->

    <!-- Begin: Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
<% end %>

    <% if rpt_bmk_helpers(props)[:first_column?] %>
      <!-- Begin: slide item  -->
      <div class="item<%= props[:item_num] == 0 ? " active" : ""%> slide-item-<%= props[:item_num] %>">
        <div class="col-md-12">
          <div class="span12" style="padding-left: 48px;">
    <% end %>
            <% # render full slide of embed_ray_card %>
            <%= render partial: '/bookmarks/styles/embed_ray/embed_ray_bmk',
                       locals: { props: props }
            %>
            <% # results = get_embed_card_preview_html(props[:bookmark].url) %>
            <% #<img src="<= results[:response][:api_response].thumbnail_url"> %>
    <% if rpt_bmk_helpers(props)[:last_column?] || rpt_bmk_helpers(props)[:last_item?] %>
          </div>
        </div>
      </div>
      <!-- End: slide item  -->
    <% end %>

<% if rpt_bmk_helpers(props)[:last_item?] %>
    </div>
    <!-- End: Wrapper for slides -->

        <!-- Begin: Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- End: Left and right controls -->

  </div>
<% end %>
