<%= render partial: '/bookmarks/styles/embed_ray/embed_ray_styling', locals: { props: props } %>
<% # default: topic_bookmark_embed_ray_iframe_path?queryParams
  iframe_src_url =
      topic_bookmark_embed_ray_iframe_path(
        props[:topic],
        props[:bookmark],
        # use url/query params to pass info to iframe HTML when loaded.
        rpt_tag: props.key?(:rpt_tag) ? props[:rpt_tag] : nil,
        controller_action_override: props.key?(:controller_action) ? \
          props[:controller_action] : \
          "#{params[:controller]}_#{params[:action]}"
      )
%>

    <iframe id="emb_mha3e0"
            src ="<%= iframe_src_url %>"
            class="embedly-card"
            width="<%= props[:iframe_class_embedly_card_width] %> "
            height="<%= props[:iframe_class_embedly_card_height] %> "
            frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="true"

            style="border: medium none; position: relative; visibility: visible; display: block; margin: 0px;
                  min-width: <%= props[:iframe_style_min_width] %>
                  padding: 0px; max-width: 100%;">
    </iframe>

    <% #add class embd-active to show share links %>
    <div id="<%= "embdscl0-#{props[:bookmarks_index]}" %> "
         class="embdscl0 embd-active">
      <a class="embd-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fusers%2F2%23e.mha3e0.ut4epo">
        <i></i>
      </a>
      <a class="embd-twitter" href="https://twitter.com/intent/tweet?text=Active%20Record%20Associations%20-%20Ruby%20on%20Rails%20Guides&url=http%3A%2F%2Flocalhost%3A3000%2Fusers%2F2%23e.mha3e0.ut4epo&via=embedly">
        <i></i>
      </a>
      <a class="embd-pinterest" href="https://www.pinterest.com/pin/create/button/?description=Active%20Record%20Associations%20-%20Ruby%20on%20Rails%20Guides&media=http%3A%2F%2Fguides.rubyonrails.org%2Fimages%2Fhas_many_through.png&url=http%3A%2F%2Flocalhost%3A3000%2Fusers%2F2%23e.mha3e0.ut4epo">
        <i></i>
      </a>
      <a class="embd-card">
        <i></i>
      </a>
      <a class="embd-embedly" href="http://embed.ly/cards?utm_campaign=cards&utm_medium=referral&utm_source=null" target="_blank">
        <i></i>
      </a>
    </div>

  </div>
</div>
<% #Note: this embedly js script will add the embedly css to our header via creating a <link css tag.>
   # So i just added it to layouts/application.html.erb
   #<link type="text/css" rel="stylesheet" href="http://cdn.embedly.com/css/social.07ed88eb.css">
%>
<% #<script async
  #      src="//cdn.embedly.com/widgets/platform.js"
  #      charset="UTF-8">
#</script>
%>
