<% #NOTE: we got here via a windy road. topics or usersController show/index
  # action to /views/bookmarks/_bookmark.html.erb
  #        to /views/bookmarks/styles/embed_ray/_embed_ray_card.html.erb
  #           which launched an iframe (us) with src= the rails route of
  #           get '/topics/:topic_id/bookmarks/:id/embed_ray_iframe', to: 'bookmarks#embed_ray_iframe', as: 'topic_bookmark_embed_ray_iframe'
  #        to /controllers/bookmarks_controller.rb
  #        to the bookmarks#embed_ray_iframe action
  #           which then renders us as a partial with locals of @bookmark
  #        to HERE! with @bookmark and params from the url set by
  #           /views/bookmarks/styles/embed_ray/_embed_ray_card.html.erb
  # Recover what context we can.
  props =
    properties(
      { bookmark: @bookmark, topic: @bookmark.topic },
      params.key?(:rpt_tag) ? params[:rpt_tag] : nil,
      params.key?(:controller_action_override) ? \
        params[:controller_action_override] : nil
    )
  rpt_bmk_calc_helpers(props)
  results = get_embed_card_preview_html(props[:bookmark].url)
  request = results[:request]
  api_response = results[:response][:api_response]
%>

<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet"
        href="http://cdn.embedly.com/css/all.3df65bc7.css">
  </link>
</head>
<body id="cards"
      class="no-touch boxshadow borderradius rgba mediaquery card-bd ltr font-wf-sans border-blockquote theme-light"
      style="">
  <script type="text/javascript"
          src="http://cdn.embedly.com/js/all.3df65bc7.js">
  </script>
  <div class="card article">
    <div class="hdr">
      <div class="provider provider-gt-35"
           style="min-height: 19px;">
        <img class="provider-favicon"
             width="16"
             height="16"
             src="<%= "#{(defined? api_response.favicon_url).nil? ? 'http://guides.rubyonrails.org/images/favicon.ico' : api_response.favicon_url}" %>"
        <a class="provider-name" href="<%= "#{api_response.provider_url}" %>"
           target="_blank"
           ><%= "#{api_response.provider_name.upcase}" %>
        </a>
        <span class="author"> </span>
      </div>
    </div>

    <div class="bd"
         style="border-left-color: rgb(161, 28, 16);">

      <div class="pair-bd">
        <div class="art-bd"
             style="overflow: hidden; width: 300px; max-height: 142px; overflow:hidden;">
          <a class=""
             style="padding-bottom: 0; background-color: rgb(255, 255, 255);"
             href="<%= "#{api_response.url}" %>"
             target="_blank">
            <img class=""
                 style="width:100%; min-height: 142px;"
                 src="<%= "#{(defined? api_response.thumbnail_url).nil? ? api_response.url : api_response.thumbnail_url}" %>"
            >
          </a>
        </div>

        <div class="txt-bd">
          <h1 class="title">
            <a href="<%= "#{api_response.url}" %>"
               target="_blank"
               ><%= "#{api_response.title}" %>
            </a>
          </h1>

          <p class="description"
             ><%= "#{api_response.description}" %>
          </p>

          <a class="action"
             href="<%= "#{api_response.url}" %>"
             target="_blank"
             ><%= "#{ (api_response.type == 'link' ?
                       'Read this on' :
                       api_response.type == 'photo' ?
                       'View this photo at' :
                       'Full video at'
                      )
                    } #{api_response.provider_url.split('http://')[1]}" %>
          </a>
        </div>

      </div>
    </div>
  </div>

  <% if rpt_bmk_part(props)[:debug_footer] %>
    <%= render partial: 'bookmarks/styles/embed_ray/embed_ray_bmk_debug',
               locals: { props: props.merge({api_response: api_response }) } %>
  <% end %>

</body>
</html>
