<h5 class="media-heading css-debug-footer-container"
    style="margin-top: 10px; background: yellow; font-size: 12px;">
  <span>
    <%= "URL: #{props[:bookmark].url}" %>
  </span>
  <br/>
  <span>
    <%= "First liked by #{props[:bookmark].likes.empty? ? 'NO ONE' : props[:bookmark].likes[0].user.name.split(' ')[0]}"
    %>
  </span>
  <span style="margin-left: 8px;">
    <%= "Created by #{props[:bookmark].user.name.split(' ')[0]}" %>
    <%= "#{time_ago_in_words(props[:bookmark].created_at)} ago" %>
  </span>
  <span style="margin-left: 8px;">
    <%= ".type = #{props[:api_response].type}" %>
  </span>
  <span style="margin-left: 8px;">
    <%= ".favicon_url = #{props[:api_response].favicon_url}" %>
  </span>
  <span style="margin-left: 8px;">
    <%= ".thumbnail_url = #{props[:api_response].thumbnail_url}" %>
  </span>
  <span style="margin-left: 8px;">
    <%= ".url = #{props[:api_response].url}" %>
  </span>
</h5>
